[Unit]
Description=Jitsi server w/ streaming and recording capabilities
Requires=jitsi-install.service
After=jitsi-install.service

[Service]
User=jitsi
Restart=always
WorkingDirectory=/opt/jitsi
ExecStart=/usr/bin/docker compose -f docker-compose.yml -f jibri.yml up
ExecStop=/usr/bin/docker compose -f docker-compose.yml -f jibri.yml down

[Install]
WantedBy=network.service
WantedBy=multi-user.target

